.button2{
color: darkmagenta;
border: 20px;
border-bottom-color: aqua;
border-color: blueviolet;
border-style:groove;
border-radius: 5%;
border-width: 10px;
text-align: center;
height: 75px;

}

.p1{
    fill: darkslateblue;
    color: rgb(0, 0, 0);
    text-align: center;

    
}


.p2{
    fill: darkslateblue;
    color: rgb(255, 246, 246);
    text-align: center;

    
}
body{
    background-color: #000000;
}

h1{
    color: azure;
    accent-color:inherit;
    flood-color: rgb(27, 27, 27);
    text-align: center;
}

.div55{
    background-color: black;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

h2{
    color: #f0ffff;
}

.hidden{
    color: white;
}

label{
    color:white;
}

h4{   
    color:white;
}

.buttton3{
    height: 200px;
  position: relative;

}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  height: 50px;
  position: relative;
}

small{
color: rgb(255, 0, 0);
}